transformers==4.50.3
diffusers==0.31.0
torchmetrics==1.8.0
torchtyping==0.1.5
tqdm==4.67.1
einops==0.8.0
omegaconf==2.3.0
opencv-python==4.11.0.86
av==13.1.0
gradio==5.6.0
accelerate==1.1.1
clip==0.2.0
decord==0.6.0
gradio_client==1.4.3
imageio==2.36.0
imageio-ffmpeg==0.5.1
numpy==1.26.4
onnxruntime-gpu==1.20.1
open-clip-torch==2.29.0
opencv-contrib-python==4.10.0.84
Pillow==10.2.0
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
torchdiffeq==0.2.5
torchsde==0.2.6
mlflow==2.18.0
controlnet-aux==0.0.9
ffmpeg-python==0.2.0
soundfile==0.13.1
mediapipe==0.10.21
IPython==9.4.0
scenedetect== 0.6.6
moviepy==1.0.3
huggingface_hub==0.26.2
mediapipe==0.10.21
torchao==0.9.0
pydantic==2.10.6